<!--
  Generated template for the AddImagesVideos page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="appgreen">
  </ion-navbar>

</ion-header>

<ion-content padding>
<div style="margin-top:50%">
  <button ion-button full color="appgreen" (click)="takePhoto()"><ion-icon name="camera" style="font-size:26px;"></ion-icon>&nbsp;&nbsp;Take Photo</button>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="img-block">
          <ion-icon name="trash" class="delete-btn" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <br><br><br><br>
<button ion-button color="primary" (click)="accessGallery()">Open Gallery</button>
 <img [src]="base64Image" *ngIf="base64Image" /> -->

 <br><br>

  <button ion-button full color="appgreen" (click)="startRecording()"><ion-icon name="videocam" style="font-size:26px;"></ion-icon>&nbsp;&nbsp;Video Recording</button>



<!--
  <button ion-button (click)="startRecordingz()">Start</button>
  <button ion-button (click)="selectVideo()">Select Video</button>
  <video #myvideo></video>

  -->

</div>
</ion-content>