page-add-images-videos {
    .img-block{
        position: relative;
        .delete-btn{
            position: absolute;
            margin-left:85%;
            margin-top: 5px;
            color: #fff;
        }
    }

}
