<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Feedback</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-label text-center color="appblack">Rate the event</ion-label>
<div align="center">
    <span class="star-rating star-5">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
</div>
    <br><br>

<ion-item padding>
  <ion-textarea rows="6" cols="50" placeholder="Write your feedback here">
  </ion-textarea>
</ion-item> 




</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button type="submit" ion-button color="appgreen">SUBMIT FEEDBACK</button>
  </ion-toolbar>
</ion-footer>
