<!--
  Generated template for the Terms page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Terms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


</ion-content>
