page-nearby-events {
/*$control-height: -60px;

ion-content > .scroll-content {
	margin-top: $control-height !important;
}
.scroll-content{
    //padding-top: $control-height;
}

*/.banner-block{
        position: relative;
        width: 100%;
        .event-creator{
            position: absolute;
            margin-top: 80px;
            width: auto;
            height:40px;
            border-radius:50px;
            border: 2px solid #fff;
            left: 0;
            right: 0;
            margin:0 auto;
            top:15%;
            transform:translateY(-50%);
        }
    }
    .banner-block:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #000) left repeat;
  background: linear-gradient(transparent, #000) left repeat;
  opacity: .6;  
}



    .event-title{
        position: absolute;
        
        margin:0 auto;
        transform:translateY(-50%);
        left: 0;
        right: 0;
        top:30%;
        font-size: 25px;
        font-weight: bold;
        color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    }

    .rsvp-status{
        position: absolute;
        
        margin:0 auto;
        transform:translateY(-50%);
        width: 110px;
        left: 0;
        right: 0;
        top:90%;
        background-color:transparent;
        background-color:transparent;
        -moz-border-radius:28px;
        -webkit-border-radius:28px;
        border-radius:28px;
        border:1px solid #ffffff;
        display:inline-block;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:3px 10px;
        text-decoration:none;
        text-shadow:0px 0px 3px #000000;
        z-index: 1000;
    }




    
    .event-date{
        font-size: 16px;
        color: #303032;
        margin-top:2px;
        //text-align: center;
        word-break:break-all;
        font-weight: bold;
    }
    .event-time{
        font-size: 16px;
        color: #787878;
        margin-top:2px;
        //text-align: center;
        font-weight: bold;
    }
    .event-location{
        font-size: 16px;
        color: #787878;
        margin-top:2px;
        font-weight: bold;
    }
    .event-from{
        font-size: 15px;
        font-weight: bold;
    }
    .event-to{
        font-size: 15px;
        font-weight: bold;
    }
    .event-divider{
        font-size: 18px;
        color: #303032;
        padding-left: 5px;
        padding-right: 5px;
    }
    .inline { 
        display: inline-block; 
        margin-right:30px;
        margin-left: 20px;
    }
    .participants{
        //font-weight: bold;
        //margin-top:20px;
        width: 100px;
    }
    .category{
        //font-weight: bold;
        width: 100px;
    }
    .no-of-participants{
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #009688;
        border-radius: 15px;
        color:#fff;
    }
    .name-of-cat{
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background: #009688;
        border-radius: 15px;
        color:#fff;
    }

    #map{
        height: 120px;
    }

    ion-slides{
        height: 150px;
    }

    .fablabelfourth
            {
              position: absolute;
              width: 200px;
              margin-left: -150px;
              padding-bottom: 185px;
              margin-top: 0px;
              margin-bottom: 0px;
              //font-weight: bold;
              font-size: 9px;
              color: #000;
              text-align: right;
            }

    .fablabelthird
            {
              position: absolute;
              width: 200px;
              margin-left: -150px;
              padding-bottom: 130px;
              margin-top: 0px;
              margin-bottom: 0px;
              //font-weight: bold;
              font-size: 9px;
              color: #000;
              text-align: right;
            }

    .fablabelsecond
            {
              position: absolute;
              width: 200px;
              margin-left: -150px;
              padding-bottom: 75px;
              margin-top: 0px;
              margin-bottom: 0px;
              //font-weight: bold;
              font-size: 9px;
              color: #000;
              text-align: right;
            }
    .fablabelfirst{
             position: absolute;
             width: 200px;
             margin-left: -150px;
             padding-bottom: 30px;
             margin-top: 10px;
             margin-bottom: 0px;
             //font-weight: bold;
             font-size: 9px;
             color: #000;
             text-align: right;
          }

    #disabledContainer{
         background-color: white !important;
         height: 100%;
         position: fixed;
         -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
         width: 100%;
         z-index: 1;
         opacity: 0.8;
         overflow-y: hidden; // hide vertical
         overflow-x: hidden; // hide horizontal
      }

      ion-slides{
        position: relative;
        z-index: 0;
      }
      ion-slide.swiper-slide{
          left:25%;
      }
      .thumb-img{
          padding:10px;
          width:150px;
      }


.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    //visibility: hidden;
    width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 150%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}



}
