<!--
  Generated template for the NearbyEvents page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header>
  <ion-navbar color="appgreen">
    <ion-title>{{eventTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
       <ion-icon name="ios-notifications-outline" style="font-size:26px"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="eventStatusAlert()">
      <button ion-button icon-only>
       <ion-icon md="md-more" style="font-size:26px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>-->


<ion-header>
  <ion-navbar color="appgreen">
    <!-- <ion-title>{{eventTitle}}</ion-title>  -->
    <ion-buttons end>
      <button ion-button icon-only>
       <ion-icon name="ios-notifications-outline" style="font-size:26px"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="eventStatusAlert()">
      <button ion-button icon-only>
       <ion-icon md="md-more" style="font-size:26px"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content fullscreen style="background-color: #f4f4f4; margin-top:0">
  <!-- <div id="disabledContainer" *ngIf="fabButtonOpened==true">Helloooo</div> -->

  <div class="banner-block" align="center">
    <img class="event-creator" src="assets/img/event_images/avt1.png">
    <div class="event-title">{{eventTitle}}</div>
    <div class="rsvp-status">Attending</div>
    <img class="event-banner" src="assets/img/event_images/event-music.jpg">
  </div>

  <a href="http://maps.google.com/maps?q=-34.9290,138.6010">
    <div #map id="map"></div>
  </a>
  <div class="event-datetime" padding>
    <ion-row>
      <ion-col col-2>
        <ion-icon name="calendar" color="appgreen" style="font-size:26px;"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="event-date">2017 May 12 - 2017 May 12</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2>
        <ion-icon name="time" color="appgreen" style="font-size:26px;"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="event-time">4.30 PM to 9.30 PM</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2>
        <ion-icon name="pin" color="appgreen" style="font-size:26px;"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <div class="event-location">No 05: Angas St Adelaide</div>
      </ion-col>
    </ion-row>

    <hr>
    <ion-row>
      <div class="participants">Participants:</div>
      <div round outline class="no-of-participants">250</div>
    </ion-row>
    <br>
    <ion-row>
      <div class="category">Category:</div>
      <div round outline class="name-of-cat">Music</div>
    </ion-row>
    <hr>
  </div>


  <ion-slides class="image-slider" slidesPerView="2" loop="true">
    <ion-slide *ngFor="let img of eventImages">
      <img src="assets/img/event_images/{{img}}" class="thumb-img" imageViewer>
    </ion-slide>
  </ion-slides>

  <!-- <button ion-button (click)="createEvent()">Create Event</button>
<br>
<button ion-button (click)="checkEvent()">Check Event</button>
-->

<!-- 
  <ion-fab right bottom #fab>
    <button ion-fab color="fabbtn1" (click)="openFabButton()">
       <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <div class="tooltip">
        <button ion-fab color="fabbtn2">
          <ion-icon name="calendar" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add To Calender</span>
      </div>
      <div class="tooltip">
        <button ion-fab color="fabbtn3" (click)="openEventCommentsPage(fab)">
          <ion-icon name="text" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Comments</span>
      </div>
      <div class="tooltip">
        <button ion-fab color="fabbtn4" (click)="openFeedback(fab)">
          <ion-icon name="thumbs-up" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Feedback</span>
      </div>
      <div class="tooltip">
        <button ion-fab color="fabbtn5" (click)="openImageVideo(fab)">
          <ion-icon name="photos" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add Images Videos</span>
      </div>
    </ion-fab-list>
  </ion-fab>
-->




  <ion-fab bottom right #fab>
    <button ion-fab color="fabbtn1" (click)="openFabButton()"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <!--<button ion-fab (click)="share(fab)">Facebook</button>
     <button ion-fab (click)="share(fab)">Twitter</button> -->

      <div class="tooltip">
        <button ion-fab color="fabbtn2" (click)="createEvent(fab)">
          <ion-icon name="calendar" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add To Calender</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn3" (click)="openEventCommentsPage(fab)">
          <ion-icon name="text" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Comments</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn4" (click)="openFeedback(fab)">
          <ion-icon name="thumbs-up" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Feedback</span>
      </div>

      <div class="tooltip">
        <button ion-fab color="fabbtn5" (click)="openImageVideo(fab)">
          <ion-icon name="photos" color="light"></ion-icon>
        </button>
        <span class="tooltiptext">Add Images Videos</span>
      </div>
    </ion-fab-list>
  </ion-fab>

</ion-content>