<!--
  Generated template for the EventWall page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="appgreen">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby Events</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openNotificationsPage()">
          <ion-icon name="ios-notifications-outline" style="font-size:26px">
          </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar style="background-color: #009688"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="items" [approxItemHeight]=" '500px' " [bufferRatio]="3.1">
    <ion-card *virtualItem="let item">
      <div (click)="openSelectedEventPage()">
        <div class="banner-block">
          <img class="event-creator" src="assets/img/event_images/avt1.png">
          <img class="event-banner" src="assets/img/event_images/event-music.jpg">
        </div>

        <ion-row>
          <ion-col col-12>
            <div class="event-title" text-wrap>Early Folk and Classical Music Festivals</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <div class="event-date">November 5, 1955</div>
          </ion-col>
          <ion-col col-4>
            <div class="my-rsvp" align="right">Attending</div>
          </ion-col>
          <ion-col col-12>
            <div class="event-location">Nelum Pokuna</div>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-6>
          <button color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="eventStatusAlert()">
          <ion-icon name="ios-people-outline"></ion-icon>
          <div style="font-size: 12px">10 Responses</div>
        </button>
        </ion-col>
        <ion-col col-6>
          <button color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="openEventCommentsPage()">
          <ion-icon name="ios-text-outline"></ion-icon>
          <div style="font-size: 12px">4 Comments</div>
        </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list>



  <!-- <ion-list *ngFor="let i of items">
    <ion-card>
      <div (click)="openSelectedEventPage()">
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/img_person.png">
          </ion-avatar>
          <h2>Classical Night</h2>
          <p>November 5, 1955 | Nelum Pokuna</p>
          <p style="color: #009688">Maybe</p>
        </ion-item>

        <ion-card-content>
          <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
            Whoa. This is heavy.</p>
        </ion-card-content>

      </div>

      <ion-row style="background:#FCFBFC">
        <ion-col>
          <button color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="eventStatusAlert()">
      <ion-icon name="ios-people-outline"></ion-icon>
      <div style="font-size: 12px">10 Responses</div>
      </button>
        </ion-col>
        <ion-col>
          <button color="lightblack" style="width: 100%" ion-button icon-left clear small (click)="openEventCommentsPage()">
      <ion-icon name="ios-text-outline"></ion-icon>
      <div style="font-size: 12px">4 Comments</div>
      </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-list> -->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more events...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>