<!--
  Generated template for the Registration page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>About Yourself</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goToEventWall(true)">
       SKIP
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce style="background-color: #f4f4f4;padding-bottom: 10px">

  <form [formGroup]="userRegistrationForm">

    <ion-list>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About yourself</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Mobile Number</ion-label>
        <ion-input type="number" formControlName="mobileNo"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>E-mail Address</ion-label>
        <ion-input type="email" formControlName="emailAddress"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="MMMM/DD/YYYY" formControlName="dateOfBirth" name="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your location</ion-item-divider>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCountryList($event)">
        <ion-label>Country</ion-label>
        <ion-label readonly="true"  text-right>{{countryName}}</ion-label>
      </button>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Province</ion-label>
        <ion-input type="text" formControlName="province"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your favorite categories</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">
        <ion-label stacked>Categories</ion-label>
        <ion-select multiple="true" formControlName="category" name="category">
          <ion-option value=1>Birthdays</ion-option>
          <ion-option value="2">Musical Shows</ion-option>
          <ion-option value="3">Festivals</ion-option>
          <ion-option value="4">Night Parties</ion-option>
          <ion-option value="5">Celibraions</ion-option>
          <ion-option value="6">National Days</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

  </form>
    <!-- #############################
<form [formGroup]="loginForm">
    <ion-item-divider style="margin-top: 10px" color="appgreen">About yourself</ion-item-divider>



    <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Mobile Number</ion-label>
        <ion-input type="number" formControlName="mobileNo"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>E-mail Address</ion-label>
        <ion-input type="email" formControlName="emailAddress"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="MMMM/DD/YYYY" formControlName="dateOfBirth" name="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your location</ion-item-divider>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCountryList($event)">
        <ion-label>Country</ion-label>
        <ion-label readonly="true"  text-right>{{countryName}}</ion-label>
      </button>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Province</ion-label>
        <ion-input type="text" formControlName="province"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your favorite categories</ion-item-divider>
      <ion-item style="background-color: #f4f4f4" >
        <ion-label stacked>Categories</ion-label>
        <ion-select multiple="true" formControlName="category" name="category">
          <ion-option value="all" selected="true">All</ion-option>
          <ion-option value="bd">Birthdays</ion-option>
          <ion-option value="ms">Musical Shows</ion-option>
          <ion-option value="fl">Festivals</ion-option>
          <ion-option value="np">Night Parties</ion-option>
          <ion-option value="cel">Celibraions</ion-option>
          <ion-option value="nd">National Days</ion-option>
        </ion-select>
      </ion-item>



  <button type="submit" [disabled]="!loginForm.valid">Log in</button>
</form>###############################-->
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button type="submit" ion-button color="appgreen" (click)="registerUser()">Save & Continue</button>
  </ion-toolbar>
</ion-footer>