<!--
  Generated template for the EventComments page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>{{eventTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let comment of comments">
      <div class="comsection1">
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/img_person.png">
          </ion-avatar>
          <h2>Classical Night</h2>
          <p>Brunch this weekends?</p>
          <p>2 days ago | <button class="like-button">Like </button> |</p>
        </ion-item>
      </div>
      <div class="comsection2">
        <button ion-button color="secondary">2 Likes</button>
      </div>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more comments...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll> 



</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
    <ion-item>
      <ion-input type="text" placeholder="Write a comment"></ion-input>
      <button ion-button item-right color="appgreen" style="padding:20px;">Post</button>
      </ion-item>
    </ion-row>
  </ion-toolbar>
</ion-footer>



