// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  appblack: #303032,
  appgreen: #009688,
  lightblack: #787878,
  fabbtn1: #ff4081,
  fabbtn2: #99ff33,
  fabbtn3: #6600cc,
  fabbtn4: #3333ff,
  fabbtn5: #99004d
);

// App iOS Variables
$loading-ios-background : #fff;
$loading-ios-box-shadow-color:rgba(0, 0, 0, .4) !default;
$loading-ios-box-shadow : 0 16px 20px $loading-ios-box-shadow-color !default;
$loading-ios-spinner-color : #009688;

// App Material Design Variables
$loading-md-background : #fff;
$loading-md-box-shadow-color:rgba(0, 0, 0, .4) !default;
$loading-md-box-shadow : 0 16px 20px $loading-md-box-shadow-color !default;
$loading-md-spinner-color : #009688;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
