<!--
  Generated template for the AboutUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>AboutUs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--  <ion-card>
    <img src="https://images.pexels.com/photos/2156/sky-earth-space-working.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/24895/pexels-photo-24895.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
    />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/23789/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card>
  <ion-card>
    <img src="https://images.pexels.com/photos/2159/flight-sky-earth-space.jpg?w=940&h=650&auto=compress&cs=tinysrgb" />
  </ion-card> -->




  <ion-card>

    <div>

      {{about}}

    </div>

  </ion-card>
  <br><br>

<form [formGroup]="slideOneForm">
 
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
 
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>
 
        <ion-item>
            <ion-label floating>Age</ion-label>
            <ion-input formControlName="age" type="number"></ion-input>
        </ion-item>

        <ion-item style="background-color: #f4f4f4" >
        <ion-label stacked>Categories</ion-label>
        <ion-select multiple="true" formControlName="category">
          <ion-option value=1>Birthdays</ion-option>
          <ion-option value="2">Musical Shows</ion-option>
          <ion-option value="3">Festivals</ion-option>
          <ion-option value="4">Night Parties</ion-option>
          <ion-option value="5">Celibraions</ion-option>
          <ion-option value="6">National Days</ion-option>
        </ion-select>
      </ion-item>
 
    </form>

      <button ion-button color="appgreen"  type="submit" [disabled]="!slideOneForm.valid" (click)="save()">Log in</button>


</ion-content>