<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="appgreen">
      <ion-title>Majlis</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background: #f4f4f4">
    <ion-list no-lines>
      <button menuClose ion-item color="light" class="menu-item-text" (click)="openNearbyEventsPage()">
          <ion-icon name="ios-compass-outline" style="margin-right: 16px;font-size: 30px"></ion-icon> Nearby Events
      </button>
      <button menuClose ion-item color="light" class="menu-item-text" (click)="openNotificationsPage()">
         <ion-icon name="ios-notifications-outline" style="margin-right: 20px;font-size: 30px"></ion-icon> Notifications
      </button>
      <button menuClose ion-item color="light" class="menu-item-text" (click)="openHistoryPage()">
        <ion-icon name="ios-stopwatch-outline" style="margin-right: 20px;font-size: 30px"></ion-icon>  History
      </button>
      <button menuClose ion-item color="light" class="menu-item-text" (click)="openFindEventsPage()">
        <ion-icon name="ios-timer-outline"style="margin-right: 20px;font-size: 30px" ></ion-icon> Find Events
      </button>
      <button menuClose ion-item color="light" class="menu-item-text" (click)="openProfilePage()">
        <ion-icon name="ios-contact-outline" style="margin-right: 20px;font-size: 30px"></ion-icon> Profile
      </button>
       <button menuClose ion-item color="light" class="menu-item-text" (click)="openAboutUsPage()">
        <ion-icon name="ios-information-circle-outline" style="margin-right: 20px;font-size: 30px"></ion-icon> About Us
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>