<!--
  Generated template for the Notifications page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let notification of notifications" (click)="openNotification()">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2 style="font-weight: bold;">Limited seating at the VenueLimited seating at the Venue</h2>
        <div>Reserve your seat early</div>
        <p>Fri, May 12 2017</p>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more notifications...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>