page-find-events {

    .event-banner {
  width: 100%;
  height: 130px;
  object-fit: cover;
  //outline: 2px dashed blue;
}

.event-title{
    font-size: 20px;
}
.event-date{
    color:#787878;
}
.event-location{
    color:#787878;
}
.my-rsvp{
    background-color:#009687;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	display:inline-block;;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 10px;
	text-decoration:none;
}

/*.event-banner{
        position: relative;
        .event-creator{
            position: absolute;
            //margin-left:85%;
            margin-top: 5px;
            color: #fff;
        }
    }*/
.banner-block{
        position: relative;
        .event-creator{
            position: absolute;
            margin-left:10px;
            margin-top: 80px;
            width:40px;
            height:40px;
            border-radius:50px;
            border: 2px solid #fff;
        }
    }

}
