<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher color="appred" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let history of histories">
      <ion-item>
        <ion-avatar item-left>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-totoro.png">
        </ion-avatar>
        <h2>You have Participated Classical Night</h2>
        <p>2 days ago</p>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more history...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>