<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce style="background-color: #f4f4f4;padding-bottom: 10px">
 <ion-list>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About yourself</ion-item-divider>
      <ion-item style="background-color: #f4f4f4">
        <ion-label stacked>Mobile Number</ion-label>
        <ion-input type="number" [(ngModel)]="mobileNo"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="userName"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>E-mail Address</ion-label>
        <ion-input type="email" [(ngModel)]="emailAddress"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="MMMM/DD/YYYY" [(ngModel)]="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your location</ion-item-divider>
      <button ion-item style="background-color: #f4f4f4;margin-top: 10px" (click)="openCountryList($event)">
        <ion-label>Country</ion-label>
        <ion-label readonly="true"  text-right>{{country}}</ion-label>
      </button>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>Province</ion-label>
        <ion-input type="text" [(ngModel)]="province"></ion-input>
      </ion-item>
      <ion-item style="background-color: #f4f4f4">
        <ion-label floating>City</ion-label>
        <ion-input type="text" [(ngModel)]="city"></ion-input>
      </ion-item>

      <ion-item-divider style="margin-top: 10px" color="appgreen">About your favorite categories</ion-item-divider>
      <ion-item style="background-color: #f4f4f4" >
        <ion-label stacked>Categories</ion-label>
        <ion-select multiple="true" [(ngModel)]="category">
          <ion-option value="all" selected="true">All</ion-option>
          <ion-option value="bd">Birthdays</ion-option>
          <ion-option value="ms">Musical Shows</ion-option>
          <ion-option value="fl">Festivals</ion-option>
          <ion-option value="np">Night Parties</ion-option>
          <ion-option value="cel">Celibraions</ion-option>
          <ion-option value="nd">National Days</ion-option>
        </ion-select>
      </ion-item>

</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar text-center color="light">
    <button type="submit" ion-button color="appgreen" (click)="updateUser()">Save</button>
  </ion-toolbar>
</ion-footer>
