<!--
  Generated template for the ExpandNotification page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appgreen">
    <ion-title>ExpandNotification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="event-image" align="center">
    <img src="assets/img/event_images/eventImg1.jpg">
  </div>
<ion-item-divider style="font-size:20px;" color="appgreen">Details</ion-item-divider>
<ion-item text-wrap>
  <div style="font-size:18px;" padding>The place was clean and have lots of goodies to choose from at the snack bar.</div>
  <p padding>More details:www.abc.com</p>
</ion-item>
</ion-content>

